/*
 * @description: 排版主页面
 * @author: songliubiao
 * @lastEditors: songliubiao
 * @Date: 2019-09-20 16:57:24
 * @LastEditTime: 2020-03-23 11:31:23
 * @Copyright: Copyright  2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
#compose
  padding 20px

  .compose-head
    margin-top 10px

    .ant-btn
      margin-right 10px
  .tip-right
    height:30px;
    background:rgba(255,251,230,1)
    border:1px solid rgba(255,229,143,1)/*no*/
    margin-top: 10px
    position: relative
    font-size:14px
    font-weight:400
    color:rgba(244,168,0,1)
    line-height:20px
    padding: 0.025rem 0.02rem 0.03rem 0.19rem
    .tips-icon
      position: absolute
      left: 13px
      top: 13px

.dialog-search
  margin-bottom 20px

.dialog-btn
  margin-top 30px

  .confrim-btn
    width 160px
    height 38px

  .cancel-btn
    width 160px
    height 38px
    color #40A9FF
    margin-left 10px
    bd(#40A9FF)
