/*
 * @description: 日统计主页面样式文件
 * @author: yanzihao
 * @lastEditors: yanzihao
 * @Date: 2020-05-06 09:18:04
 * @LastEditTime: 2020-05-14 10:37:30
 * @Copyright: Copyright  2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
  
#daystatistics
  padding: 20px
  .count
    display flex
    justify-content: flex-start
  .font-red
    color: red
.daystatistics-btn
  display: flex
  justify-content: center
  .confrim-btn
    width 160px
    height 38px
  .cancel-btn
    width 160px
    height 38px
    color #40A9FF
    margin-left 10px
    bd(#40A9FF)
.datepicker
  .ant-calendar-selected-day .ant-calendar-date
    background:#08e
  .ant-calendar-date:hover
    background-color: #08e;
    color: #000;