/**
 * @author
 * @createTime 2019/04/24
 * @description 报表中心-归档报表样式
 * @copyright Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
 #file-report-form-page {
   padding: 20px;
   .btn-style {
    width:80px;/*no*/
    height:32px;/*no*/
    background:rgba(64,169,255,1);
    border-radius:5px;
  }
 }
