/*
 * @description: 计件项目总览样式
 * @author: qiuyang
 * @lastEditors: qiuyang
 * @Date: 2019-09-25 16:43:23
 * @LastEditTime : 2019-12-20 13:59:53
 * @Copyright: Copyright  2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */

#Pieceoverview {
  .Pieceoverview-p-left {
    margin: 20px;
  }
  .Pieceoverview-title {
    margin: 10px 0 30px;
    text-align: center;
    font-weight: 680;
    font-size: 16px;
    color: #333333;
  }
  .Pieceoverview-div-left {
    display: inline-block;
    min-width: 350px;
  }
  .Pieceoverview-span-right {
    color: #666666;
  }
  .Pieceoverview-span-left {
    color: #333333;
  }
  .Pieceoverview-notData {
    margin: 40px 60px;
    text-align: center;
    font-weight: 680;
    font-size: 16px;
    color: #333333;
  }
}

#PieceoverviewList {
  .contract-search-button {
    height: 32px/*no*/
    padding:  0 25px
    border-radius: 5px
    margin-left: -10px
  }
}