/*
 * @description: 参保管理模块 - 个人参保 - 主板样式文件
 * @author: huxianghe
 * @lastEditors: huxianghe
 * @Date: 2019-04-10 15:40:47
 * @LastEditTime: 2019-04-12 17:25:40
 * @copyright: Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
@import '~@assets/style/mixins'

#personal_insured_container
  padding 20px
  .ant-tabs-bar
    margin-bottom 20px
  .opterate-wrapper
    flex-align-between()
    .table_button_wrapper
      padding-top 0
