/*
 * @description: 参保管理模块 - 个人参保 - 个人补缴信息 主板样式文件
 * @author: huxianghe
 * @lastEditors: huxianghe
 * @Date: 2019-04-15 11:15:35
 * @LastEditTime: 2019-04-15 18:12:09
 * @copyright: Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
@import '~@assets/style/mixins'

#personal_supplement_page
  #table_filter_container
    .ant-form-item
      padding-bottom 10px
  .table_button_wrapper
    padding 0
    padding-bottom 20px
// 模态框
.ant-modal
  .ant-modal-body
    padding 0.12rem
  .tips_text
    color #333
    tc()
    margin 0
  .remove_button_wrapper
    padding-top 46px
    tc()
  .reject_list
    padding-top 10px
    color #40A9FF
    .ant-row
      padding 5px 0
