/*
 * @description: 参保管理模块 - 个人参保 - 个人补缴信息 详情/编辑样式文件
 * @author: huxianghe
 * @lastEditors: huxianghe
 * @Date: 2019-04-16 18:16:55
 * @LastEditTime: 2019-05-31 11:04:36
 * @copyright: Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
@import '~@assets/style/mixins'

#personal_supplement_add
  .detail_title
    span
      color #999
      f12()
      padding-left 10px
  .time-record
    padding-bottom 40px
  .ant-form-inline
    .ant-form-item-with-help
      margin-bottom 0
  .ant-form-explain
    display none !important
