/**
* @author minjie
* @createTime 2019/03/27
* @description 参保标准的less
* @copyright Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
*/
.stand-table {
  background:rgba(255,255,255,1);
  box-shadow:0px 0px 5px 0px rgba(195,195,195,0.5);
  border-radius:8px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  box-sizing: border-box;
  .table-col-title,
  .table-row-title {
    font-size:14px;/*no*/
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:20px;
  }
  .table-row-title,
  .table-row {
    padding: 10px;
    text-align: left;
    border-left: 1px solid rgba(250,250,250,1);/*no*/
    border-right: 1px solid rgba(250,250,250,1);/*no*/
  }
  .table-row-title-bg {
    background:rgba(250,250,250,1);
  }
  .table-row-header {
    background:rgba(137,180,233,1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    .header-check {
      margin: 10px 0;
      padding: 0 20px;
      .create-time {
        font-size:14px;
        font-weight:500;
        color:rgba(255,255,255,1);
        line-height:20px;
      }
    }
    .header-btn {
      padding-right 15px
      button{
        margin: 5px;
        width: 80px;
        color: #40A9FF;
      }
    }
  }
}

.error-p {
  padding: 20px 0 40px;
  width: 80%;
  margin: auto;
  text-align: center;
}
.error-pn {
  padding: 20px 0 17px;
  width: 80%;
  margin: auto;
  text-align: center;
}
.error-pname {
  padding: 10px 0 0;
  width: 80%;
  margin: auto;
  text-align: center;
  font-size:14px;
  color:rgba(64,169,255,1);
  line-height:20px;
}
.error-pname:last-of-type {
  padding: 10px 0 40px;
}
