# 单个文件
.DS_Store

coverage

debug.log
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
package-lock.json
yarn-error.log
yarn.lock

# 文件夹
test/
node_modules/
.idea/
dist/*
build/*
dist.zip
!build/icons
!build/plists
.cache-loader
.history