/*
 * @description: 参数维护---计件制参数设置样式文件
 * @author: yanzihao
 * @lastEditors: yanzihao
 * @Date: 2019-09-24 19:45:36
 * @LastEditTime : 2019-12-18 15:17:15
 * @Copyright: Copyright  2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
@import '~@assets/style/mixins'

.pieceparameterdetail {
  // .title {
  //   padding-bottom: 20px;
  // }
  .box {
    width: 480px;
    margin-left: 40px;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    box-shadow:0px 0px 8px 0px rgba(0,0,0,0.1);
    bd(rgba(235,235,235,1));
  }
  .bigbox {
    margin-bottom: 40px;
  }
  .warehouse {
    padding-top: 30px;
    margin: 0 0 50px 40px;
    p:nth-child(1) {
      font-size:16px;
      font-weight:600;
      line-height:22px;
      height:22px;
    }
    p:nth-child(2) {
      height:20px;
      font-size:14px;
      line-height:20px;
      color:rgba(102,102,102,1);
      img {
        width: 10px;
        margin-right: 3px;
      }
    }
  }
  .action {
    margin: 20px 0 0 40px;
    padding-bottom: 40px;
  }
  .actionbtn {
    width: 160px;
    height: 38px;
    border-radius:5px;
  }
  .confirmbtn {
    background:rgba(64,169,255,1);
    color:#FFF;
    margin-right: 20px;
  }
  .distableconfirmbtn {
    background:#dcddde;
    color:#FFF;
    margin-right: 20px;
  }
  .cancelbtn {
    bd(rgba(64,169,255,1))
    color:#40A9FF;
  }
}