/*
 * @description: 颜色变量文件
 * @author: huxianghe
 * @lastEditors: huxianghe
 * @Date: 2019-04-09 10:30:09
 * @LastEditTime: 2019-04-09 10:39:11
 * @copyright: Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */

// 主题色
$color-theme = #40A9FF

// 主题边框色
$color-border = #D9D9D9

// 常见文本色
$color-text = #333333

// 禁用背景以及文本颜色
$color-disbaled-bg = #DCDDDE
$color-disbaled-text = #FFFFFF

// 危险背景以及文本颜色
$color-danger-bg = #F5222D
$color-danger-text = #FFFFFF
