/*
 * @description: 账号管理主页面
 * @author: qiuyang
 * @lastEditors: qiuyang
 * @Date: 2020-05-07 16:45:11
 * @LastEditTime: 2020-05-11 15:42:00
 * @Copyright: Copyright  2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */

#accountManagement {
  padding 20px
  .accountManagement-operation {
    span {
      margin-right 20px
      cursor pointer
      color #40A9FF
    }
  }
  .accountManagement-addBtn {
    margin 10px 0 20px 0
  }
  .contract-search-button {
    height 32px/*no*/
    padding 0 25px
    border-radius 5px
  }
}
.modalAccountManagement {
  padding-top 10px
  .pieceoverviewInfo-input {
    width 90%
    // height 40px
  }
  .ant-input{
    width 100%
  }
  .modalBtnDiv {
    margin 50px auto 20px auto
    width 80%
    display flex
    justify-content space-between
    Button {
      width 160px
      height 38px
      border-radius 5px
    }
  }
}
.accountDeleteModal {
  text-align center
  margin 20px 0 40px 0
}
.modalBtn {
  Button {
    width 160px
    height 38px
    border-radius 5px
  }
}