/*
 * @description: 
 * @author: yanzihao
 * @lastEditors: yanzihao
 * @Date: 2019-11-20 22:29:23
 * @LastEditTime: 2019-11-28 14:17:48
 * @Copyright: Copyright  2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
 .taskmanage {
   padding: 20px;
   .table-m {
     margin-top: 20px;
   }
   .tasklistbackground {
      width: 16px;/*no*/
      height: 16px;/*no*/
      line-height: 16px;/*no*/
      color: #fff;
      display: inline-block;
      background: red;
      border-radius: 50%;
      text-align: center;
      vertical-align: middle;
      margin-top: -20px;
      .tasklistnum {
        display: inline-block;
        font-size: 12px;
        transform:scale(0.7)
      }
      .tasknum_l {
        display: inline-block;
        font-size: 12px;
        transform:scale(0.7)
        margin-left: -3px;/*no*/
      }
   }
  }
