#roleManagement
  padding 20px
  .roleManagement-addBtn
    margin 10px 0 20px
  .roleManagement-operation
    span
      margin-right: 20px
      cursor pointer
  .configure
    display flex
    align-items center
.roleItem
  height 40px
  .ant-input
    width 100%
