#job_change
  padding 20px
  .tips
    position absolute
    right 0
    top 0
    width auto
    padding 0 10px
    height 100%
    background:rgba(255,251,230,1);
    border:1px solid rgba(255,229,143,1);/*no*/
    font-size:12px;/*no*/
    font-weight:400;
    color:rgba(244,168,0,1)
    display flex
    align-items center
    .anticon
      width 15px
      height 15px
      margin-right 2px;/*no*/
      img
        margin-top 0
