/*
 * @description: 参数维护---计件制参数列表样式文件
 * @author: yanzihao
 * @lastEditors: yanzihao
 * @Date: 2019-09-23 14:15:38
 * @LastEditTime: 2019-11-27 11:57:41
 * @Copyright: Copyright  2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */

.pieceparameter {
  margin: 20px;
  margin-top: 0px;
  .margin-b-20 {
    margin-bottom: 20px;
    .ant-row {
      margin-right: 10px;
    }
    .ant-input {
      width: 220px !important;
    }
  }
  .selectbtn, .importdata, .exportdata {
    background:rgba(64,169,255,1);
    border-radius:5px;
    color: #FFF;
    margin-right: 10px;
  }
  .download {
    background:rgba(64,169,255,1);
    border-radius:5px;
    color: #FFF;
  }
  .detail {
    cursor: pointer;
    color: #40A9FF;
  }
}