/*
 * @description: antd - button 表单框样式覆盖文件
 * @author: huxianghe
 * @lastEditors: huxianghe
 * @Date: 2019-04-12 15:31:26
 * @LastEditTime: 2019-04-26 17:35:35
 * @copyright: Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
@import '../mixins'

.ant-btn
    height 32px

.ant-btn-primary[disabled],
.ant-btn-primary[disabled]:hover
  background-color #DCDDDE

.ant-btn[disabled],
.ant-btn[disabled]:hover
  color #FFFFFF

// 确认/取消按钮样式
.ant_button_confirm,
.ant_button_cancel
  width 160px

// 取消按钮样式
.ant_button_goback,
.ant_button_cancel
  bd(#40A9FF)
  color #40A9FF
  margin-left 30px
.ant_button_auth
  bd(#40A9FF)
  color #40A9FF
