/*
 * @description: 覆盖 form 组件的一些样式
 * @author: huxianghe
 * @lastEditors: huxianghe
 * @Date: 2019-10-13 15:26:03
 * @LastEditTime: 2019-10-13 15:26:42
 * @Copyright: Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
@import '../mixins'

.ant-form
  label
    f12()
