/**
 * @author maqian
 * @createTime 2019/04/24
 * @description 报表中心-固定报表样式
 * @copyright Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
#fixed-report-form-page {
  padding: 20px;
  .btn-style {
    // width:80px;/*no*/
    height:32px;/*no*/
    padding: 0 25px;
    background:rgba(64,169,255,1);
    border-radius:5px;
  }
}
