/*
 * @description: 考勤主页面
 * @author: songliubiao
 * @lastEditors: songliubiao
 * @Date: 2019-09-20 16:57:24
 * @LastEditTime: 2020-03-26 15:14:53
 * @Copyright: Copyright  2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
#scheduling
  padding 20px

  .scheduling-head
    margin 10px 0 20px 0

    .ant-btn
      margin-right 10px
  
  .review
    text-align: center
    margin-top: 20px
    &-btn
      width: 200px
      &.pass
        margin-top: 10px
    .tips
      color: #666666
      margin-top: 10px
      &.pass
        margin: 0
        .pass-icon
          margin-right: 10px

.dialog-search
  margin-bottom 20px

.dialog-btn
  margin-top 30px

  .confrim-btn
    width 160px
    height 38px

  .cancel-btn
    width 160px
    height 38px
    color #40A9FF
    margin-left 10px
    bd(#40A9FF)
