/**
 * @description APP.css
 * @author lixinying
 * @createTime 2019/04/09
 * @lastEditTim 2019/04/10
 * @copyright Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
#quit-add
  padding: 0 20px ;
  .span-font
    font-size:14px;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:20px;
  .span-font-size
    padding-left: 10px;
  .select-item
    &:first-child
      margin-right 0
  .custextarea
    display: flex;
    align-items: center;
    margin-left: 12px;
    margin-top: 10px;
    textarea
      width: 592px;
      height: 100px;
