.attendance-parameters-container
  padding: 20px
  .action-link
    margin-left: 20px
    &.down
      margin-left: -2px;
    .action-swap-icon-down
      transform: rotate(90deg)
    .action-swap-icon-up
      transform: rotate(-90deg)
.attendance-modal-title
  text-align: center
  color: #333333
  font-weight: 700
  font-size: 13px;/*no*/
.modal-form-width
  width: 300px !important;
  .ant-input
    width: 300px !important;
.modal-button-group
  margin-top: 30px;/*no*/
  text-align: center;
  .modal-button
    width: 160px;
    height 38px
    &:first-child
      margin-right: 30px