/*
 * @description: 参数维护---工资标准组件样式文件
 * @author: yanzihao
 * @lastEditors: yanzihao
 * @Date: 2019-09-23 14:15:15
 * @LastEditTime: 2019-10-15 09:36:27
 * @Copyright: Copyright  2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */

.salarystandard {
  margin: 20px;
  margin-top: 0px;
  .margin-b-20 {
    margin-bottom: 20px;
    .ant-row {
      margin-right: 10px;
    }
  }
  .selectbtn {
    width: 80px;
    height: 32px;
    line-height: 32px;
    background:rgba(64,169,255,1);
    border-radius:5px;
    color: #FFF;
  }
  .ant-input {
    width: 220px !important;
  }
  .edit {
    cursor: pointer;
    color: #40A9FF;
  }
}
