/*
 * @description: 薪酬准备列表
 * @author: wanglu
 * @lastEditors: wanglu
 * @Date: 2019-09-20 16:07:43
 * @LastEditTime: 2019-10-17 14:32:37
 * @Copyright: Copyright  2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
 #Scheduling{
 .FormContanier{
   padding: 20px 20px 0 20px;
   display: flex;
    .ant-row {
      margin-right:10px;
      height: 65px;
      }
    .ant-input-affix-wrapper{
      border-radius: 5px;  
    }
    .ant-input {
      width: 220px;
    }
    .search{
      border:none;
      border-radius: 5px;
      width: 80px;
      height: 32px;
      background: #40A9FF;
      color:#fff;
    }
}
  .Form_2Container{
      padding: 0 20px 0 20px;
      display: flex;
      .ant-row {
        margin-right:5px;
      }
      .ant-col{
        cursor: pointer;
      }
    }
}



 
