/**
 * @author minjie
 * @createTime 2019/05/15
 * @description 人员组织架构组件css
 * @copyright Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */

.shared-structure {
  .ant-select-selection--multiple > ul > li {
    margin-top 0
  }
}

