/**
 * @description APP.css
 * @author lixinying
 * @createTime 2019/04/09
 * @copyright Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
.salary-add-label-title {
  padding: 0;
  margin-bottom: 20px;
  img {
    width: 20px;
    height:18px;
    display: inline-block;
  }
  span {
    height:18px;
    line-height:18px;
    font-size:16px;
    margin-left: 10px;
    color:rgba(51,51,51,1);
    font-weight: bold;
  }
  span:nth-child(3){
    font-size:14px;
    font-weight: 500;
    color: #c0c0c0;
  }
}
.salary-message {
  margin-top: 20px;
  margin-left: 26px;
}

#staff_salary_add
  padding 40px
  .form_item
    margin-bottom 0
    padding-bottom 20px
    &.salart_form_label_right
      float right
      margin-right 32px
    &.salary_no-necessary
      .ant-form-item-label
        min-width 90px
    &.salary_probation
      .ant-form-item-label
        min-width 120px
    .ant-form-item-control-wrapper
      width 220px
    .ant-select-selection,
    .ant-select-selection__rendered,
    .ant-form-item-label,
    .ant-form-item-control,
    .ant-input
      height 32px
      line-height 32px
    .ant-form-explain
      display none
