/*
 * @description: 404页面样式文件 用于匹配路由错误时
 * @author: yanzihao
 * @lastEditors: yanzihao
 * @Date: 2020-05-29 11:22:41
 * @LastEditTime: 2020-05-29 13:57:20
 * @Copyright: Copyright  2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */

#notfound
  height 100%
  display flex
  justify-content: center
  align-items center
  -webkit-user-select none
  -moz-user-select none
  -khtml-user-select none
  -ms-user-select none
