/*
 * @description: 员工历史薪资-样式
 * @author: maqian
 * @github: git@code.aliyun.com:WOHAOYUN/thematrix.git
 * @lastEditors: maqian
 * @Date: 2019-09-26 09:45:33
 * @LastEditTime: 2019-09-26 16:19:08
 * @Copyright: Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
#history-salary
  padding 20px
  .ant-row-margin
    margin-bottom 20px
.form-box-set
  display inline-block
  .set-start
    margin-right 0px
  .btn-style
    height 32px/*no*/
    padding  0 25px
    margin-left 6px
    background rgba(64,169,255,1)
    border-radius 5px
  .set-number
    margin-left 14px
    margin-right 10px
  .set-number-10
    margin-left 10px