/**
 * @author maqian
 * @createTime 2019/04/09
 * @description 参保管理-参保核算样式
 * @copyright Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
#insured-accounte-page {
  padding: 20px 20px 0 20px;
  .btn-style {
    width:80px;
    height:32px;
    background:rgba(64,169,255,1);
    border-radius:5px;
  }
  .tip-right {
    height:30px;
    background:rgba(255,251,230,1);
    border:1px solid rgba(255,229,143,1);/*no*/
    margin-top: 10px;
    position: relative;
    font-size:14px;
    font-weight:400;
    color:rgba(244,168,0,1);
    line-height:20px;
    padding: 0.025rem 0.02rem 0.03rem 0.19rem;
    .tips-icon {
      position: absolute;
      left: 13px;
      top: 13px;
    }
  }
}
.icon-style {
  margin-top: 55px;
  margin-bottom: 10px;
}
.title-style {
  font-size:16px;
  font-weight:500;
  color:rgba(51,51,51,1);
  line-height:22px;
}
.title-success {
  font-size:18px;
  font-weight:500;
  color:rgba(51,51,51,1);
  line-height:25px;
  margin-bottom: 25px;
}
.tips-success {
  font-size:14px;
  font-weight:400;
  color:rgba(102,102,102,1);
  line-height:20px;
}
.data-width-300 {
  width: 300px;/*no*/
}
// 公共样式
// 确定取消按钮
.comfirm-btn {
  font-size:14px;
  font-weight:500;
  color:rgba(255,255,255,1);
  line-height:20px;
  margin: 20px 30px 0 10px;
  width: 160px;
  height: 38px;
}
.cancel-btn {
  font-size:14px;
  font-weight:500;
  color:rgba(64,169,255,1);
  line-height:20px;
  border-radius: 5px;
  width: 160px;
  height: 38px;
  border: 1px solid rgba(64,169,255,1);/*no*/
}
.load-cancel-btn {
  font-size:14px;
  font-weight:500;
  color:rgba(255,255,255,1);
  line-height:20px;
  width: 160px;
  margin-left: 10px;
  height: 38px;
}
#nprogress .bar {
  background: #1AD8E3 !important; //自定义颜色
}
.sumbit-btn {
  font-size: 14px;
  font-weight: 500;
  color: rgba(255,255,255,1);
  line-height: 20px;
  width: 160px;
  height: 38px;
  margin: 40px 30px 5px 0;
}

/* 下载的样式 */
.upload-progress {
  width:100%;
  height:232px;
  background:rgba(255,255,255,1);
  border-radius:5px;
  text-align center
  padding 56px 0
  > p {
    height:22px;
    font-size:16px;/*no*/
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:22px;
    margin-bottom 68px
  }
}
