/*
 * @description: 薪酬核算主页面-样式
 * @author: maqian
 * @github: git@code.aliyun.com:WOHAOYUN/thematrix.git
 * @lastEditors: maqian
 * @Date: 2019-09-20 17:35:56
 * @LastEditTime: 2019-09-20 17:36:25
 * @Copyright: Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */

#salary-account-page
  padding 0 20px