/*
 * @description: 日统计主页面中的人数统计信息组件样式文件
 * @author: yanzihao
 * @lastEditors: yanzihao
 * @Date: 2020-05-06 09:18:04
 * @LastEditTime: 2020-05-06 12:41:19
 * @Copyright: Copyright  2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */

#daystatisticsnum
  .box
    width 130px
    height 65px
    background:rgba(255,255,255,1)
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1)
    border-radius: 5px
    border: 1px solid rgba(235,235,235,1)
    margin: 10px 20px 20px 0
    text-align: center
    .num
      height: 28px
      line-height: 28px
      font-size: 20px
      color:rgba(64,169,255,1)
      line-height: 28px
      margin-top: 8px
    .title
      font-size: 14px
      color:rgba(51,51,51,1)
      line-height: 20px

