/**
 * @author minjie
 * @createTime 2019/05/15
 * @description 版本的显示css
 * @copyright Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */

.cus-version-content {
  position fixed
  z-index 999999
  font-size 12px;
  bottom 5px;
  right 5px;
  padding 10px 10px 2px
}
.cus-version-color {
  color #ffffff
}
.cus-version-color-b {
  color #c0c0c0
}
