/**
 * @description APP.css
 * @author lixinying
 * @createTime 2019/04/04
 * @lastEditTim 2019/04/10
 * @copyright Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
 *{
   margin: 0;
   padding: 0;
 }
 #quit-detalis {
  padding: 20px;
  #quit-add {
    padding: 20px;
  }
 }

.select-item
  &:first-child
    margin-right 0
.custextarea
  display: flex;
  align-items: center;
  margin-left: 12px;
  margin-top: 10px;
  textarea
    width: 592px;
    height: 100px;
