/*
 * @description: 薪资筹备详情
 * @author: wanglu
 * @lastEditors: wanglu
 * @Date: 2019-09-24 17:01:54
 * @LastEditTime: 2019-09-25 11:31:12
 * @Copyright: Copyright  2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */

.form-styl{
  border-bottom: 1px solid #D8D8D8;
}
.form_item_salary label:nth-child(1){
  margin-left:10px;
}
.salary-add-label-title {
  margin-bottom: 10px 
}