/*
 * @description: 薪資归档主页面
 * @author: songliubiao
 * @lastEditors: songliubiao
 * @Date: 2019-09-23 19:32:04
 * @LastEditTime: 2019-09-24 14:20:37
 * @Copyright: Copyright  2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
@import '~@assets/style/mixins'

#salaryprefiledetail
  padding 29px 20px 25px 20px

  .salaryprefiledetail-head
    color #333333
    font-size 14px
    font-weight 700
    text-align center

  .salaryprefiledetail-search
    margin 20px 0 30px 0

  .salaryprefiledetail-footer
    margin-top 40px

    .confirm-btn
      width 160px
      height 38px

    .cancel-btn
      width 160px
      height 38px
      color #40A9FF
      margin-left 30px
      bd(#40A9FF)
