/*
 * @description: 法人主体主页面样式文件
 * @author: yanzihao
 * @lastEditors: yanzihao
 * @Date: 2020-05-08 13:43:25
 * @LastEditTime: 2020-06-08 16:58:36
 * @Copyright: Copyright  2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */

#legalentitymanagement
  padding 20px
  .actionbtn
    margin 10px 0 20px
    button
      margin-right 10px
  .btn
    span
      margin-right: 20px
      cursor: pointer
.waringstyl
  font-size: 14px;
  margin-bottom: 5px;
