/**
 * @author minjie
 * @createTime 2019/10/24
 * @description 链接到教学视频
 * @copyright Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */

#linkvideo-container {
  position fixed
  z-index 999999
  font-size 12px;
  bottom 5px;
  left 5px;
  padding 10px 10px 2px
  cursor pointer
}
.cus-version-color {
  color #ffffff
}
.cus-version-color-b {
  color #c0c0c0
}
