/*
 * @description: 薪资归档主页面
 * @author: songliubiao
 * @lastEditors: songliubiao
 * @Date: 2019-09-23 19:32:04
 * @LastEditTime: 2019-10-28 17:56:49
 * @Copyright: Copyright  2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
#salaryprefile
  padding 20px
  .salaryprefile-search
    .ant-form-item
      margin-bottom 20px
    .contract-search-button
      height: 32px/*no*/
      padding:  0 25px
      border-radius: 5px