/*
 * @description: 系统维护页面样式文件
 * @author: yanzihao
 * @lastEditors: yanzihao
 * @Date: 2020-05-29 11:24:02
 * @LastEditTime: 2020-05-29 14:03:55
 * @Copyright: Copyright  2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */ 

#systemmaintenance
  height 100%
  display flex
  justify-content center
  align-items center
  -webkit-user-select none
  -moz-user-select none
  -khtml-user-select none
  -ms-user-select none
