.multiple-date-picker
  position relative
  .ant-calendar-picker
    visibility hidden
    position: absolute
    top: 0.03rem
  .virtual-input
    height 0.17rem;
    width: 0.52rem
    &:hover
      .ant-input-suffix
        .anticon-close-circle
          &:first-child
            display: inline-block !important
          &:nth-child(2)
            display: none !important
    .ant-input-suffix .anticon-close-circle.ant-input-clear-icon:first-child
      display: none
  .ant-input-affix-wrapper .ant-input-suffix :not(.anticon)
    width: 14px;/*no*/
    height: 14px;/*no*/
  .ant-input-affix-wrapper.ant-input-affix-wrapper-with-clear-btn .ant-input:not(:last-child)
    padding-right: 30px;
.ant-calendar-selected-day .ant-calendar-date.selectedDate,
.selectedDate
  background-color: #09f;
  color: #fff;

.ant-calendar-date:hover
  background-color: #08e;
  color: #fff;

.ant-calendar-selected-day .ant-calendar-date
  background: transparent;

.ant-calendar-disabled-cell .ant-calendar-date.multdate
  background: #f5f5f5;