/*
 * @description: 参数维护---项目合同组件样式文件
 * @author: yanzihao
 * @lastEditors: yanzihao
 * @Date: 2019-09-23 14:15:07
 * @LastEditTime: 2019-09-27 16:58:02
 * @Copyright: Copyright  2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
@import '~@assets/style/mixins'
.projectcontract {
  margin: 0 20px;
  .editor {
    cursor: pointer;
    color: #40A9FF;
  }
}
.baseModal {
  .percent {
    margin-top: 11px;
    margin-left: -50px;
    display: inline-block;
  }
  .action {
    text-align: center;
    margin-top: 20px;
  }
  .actionbtn {
    width: 160px;
    height: 38px;
    border-radius:5px;
  }
  .confirmbtn {
    background:rgba(64,169,255,1);
    color:#FFF;
    margin-right: 20px;
  }
  .distableconfirmbtn {
    background:#dcddde;
    color:#FFF;
    margin-right: 20px;
  }
  .cancelbtn {
    bd(rgba(64,169,255,1))
    color:#40A9FF;
  }
}