/**
 * @author maqian
 * @createTime 2019/04/09
 * @description 参保管理-参保核算详情样式
 * @copyright Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
#insured-accounte-detail{
  padding: 40px;
  .cfrom-item {
    width: 350px;
    margin-bottom: 10px;
    >span {
      width: 220px;
    }
  }
  .Row-box {
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(216,216,216,1);/*no*/
    text-align: center;
    padding-top: 50px;
    box-sizing: border-box;
    .font-tips {
      padding: 20px 0 20px 0;/*no*/
      font-size:14px;
      font-weight:500;
      color:rgba(51,51,51,1);
      line-height:20px;
      margin: 0;
    }
    .name-tips {
      font-size:14px;
      font-weight:400;
      color:rgba(102,102,102,1);
      line-height:20px;
      margin-top: 15px;
    }
    .btn-style {
      width:80px;
      height:30px;
      font-weight:400;
      color:rgba(64,169,255,1);
      line-height:20px;
      margin-top: 10px;
      background: rgba(255,255,255,1);
      border: 1px solid rgba(64,169,255,1);/*no*/
    }
  }
  .return-btn {
    margin-top: 40px;
    width:160px;
    height:38px;
    background:rgba(64,169,255,1);
    border-radius:5px;
    color: #fff;
  }
  .nodatas {
    font-size:14px;
    font-weight:400;
    color:rgba(153,153,153,1);
    line-height:20px;
  }
  .excel-img {
    display: block;
    margin: 20px 0 15px 190px;
  }
  .nodatatip {
    display: block;
    margin: 20px 0px 15px 170px;
  }
  .ant-form-item label {
    font-size:14px;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:20px;
  }
}
