/*
 * @description: 计件项目总览
 * @author: qiuyang
 * @lastEditors: qiuyang
 * @Date: 2019-10-28 16:55:52
 * @LastEditTime: 2019-10-28 16:56:28
 * @Copyright: Copyright  2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
#PieceoverviewPage {
  .contract-search-button {
    height: 32px/*no*/
    padding:  0 25px
    border-radius: 5px
  }
}