/*
 * @description: 不参与考勤人员设置
 * @author: yanzihao
 * @lastEditors: yanzihao
 * @Date: 2020-04-29 11:43:03
 * @LastEditTime: 2020-05-11 10:01:48
 * @Copyright: Copyright  2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
 
#attendanceset
  .actionbtn
    margin: 10px 0 20px
