/*
 * @description: 薪酬核算-组件样式
 * @author: maqian
 * @github: git@code.aliyun.com:WOHAOYUN/thematrix.git
 * @lastEditors: maqian
 * @Date: 2019-09-23 11:46:33
 * @LastEditTime: 2019-09-27 13:35:32
 * @Copyright: Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */

// 核算下载模态框
.insured-modal
  font-size 16px
  font-weight 500
  color rgba(51,51,51,1)
  line-height 22px
  .icon-style
    margin-top 55px
    margin-bottom 10px
  .title-success
    font-size 18px
    font-weight 500
    color rgba(51,51,51,1)
    line-height 25px
    margin-bottom 20px
  .tips-success
    font-size 14px
    font-weight 400
    color rgba(102,102,102,1)
    line-height 20px
  .load-cancel-btn
    font-size 14px
    font-weight 500
    color rgba(255,255,255,1)
    line-height 20px
    width 160px
    margin-left 10px
    height 38px
  .comfirm-btn
    font-size 14px
    font-weight 500
    color rgba(255,255,255,1)
    line-height 20px
    width 160px
    height 38px
    background: rgba(64,169,255,1)

// 关帐并归档模态框
.close-modal
  .comfirm-btn
    font-size 14px
    font-weight 500
    color rgba(255,255,255,1)
    line-height 20px
    margin 20px 30px 0 10px
    width 160px
    height 38px
    background: rgba(64,169,255,1)
  .cancel-btn
    font-size 14px
    font-weight 500
    color rgba(64,169,255,1)
    line-height 20px
    border-radius 5px
    width 160px
    height 38px
    border 1px solid rgba(64,169,255,1);/*no*/

// 撤回关账模态框
.return-close-modal, .template-modal
  .comfirm-btn
    font-size 14px
    font-weight 500
    color rgba(255,255,255,1)
    line-height 20px
    margin 20px 30px 0 10px
    width 160px
    height 38px
    background: rgba(64,169,255,1)
  .cancel-btn
    font-size 14px
    font-weight 500
    color rgba(64,169,255,1)
    line-height 20px
    border-radius 5px
    width 160px
    height 38px
    border 1px solid rgba(64,169,255,1);/*no*/

.template-modal
  height 650px
  .template-form
    padding-left 30px
  .checked-all
    float left
    text-align left
    margin-bottom 20px
  .set-check-group
    width 100%
    text-align left
    label
      width 20%
      margin-bottom 20px
      margin-right 0px
      span
        color #9F9F9F
  .set-check-color
    width 100%
    text-align left
    label
      width 20%
      margin-bottom 20px
      margin-right 0px
      span
        color #333
  .comfirm-btns
    font-size 14px
    font-weight 500
    color rgba(255,255,255,1)
    line-height 20px
    margin 20px 30px 0 10px
    width 160px
    height 38px
    background: rgba(64,169,255,1)
  .comfirm
    font-size 14px
    font-weight 500
    color #666
    line-height 20px
    margin 20px 30px 0 10px
    width 160px
    height 38px
  .cancel-btn
    font-size 14px
    font-weight 500
    color rgba(64,169,255,1)
    line-height 20px
    border-radius 5px
    width 160px
    height 38px
    border 1px solid rgba(64,169,255,1);/*no*/

::-webkit-scrollbar-track-piece {
  background-color:#f8f8f8;
}
::-webkit-scrollbar {
  width:6px;
  height:8px;
  display: block !important
}
::-webkit-scrollbar-thumb {
  background-color:#dddddd;
  background-clip:padding-box;
  min-height:28px;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color:rgb(167, 164, 164);
}