/*
 * @description: 计件计算页面
 * @author: qiuyang
 * @lastEditors: qiuyang
 * @Date: 2019-09-19 16:59:28
 * @LastEditTime: 2019-09-27 17:04:48
 * @Copyright: Copyright  2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */

#salaryPiecePage {
  padding: 0 20px 20px 20px;

  // 公共样式
  .contract-com-margin-r {
    margin-right: 20px
  }
  .contract-com-margin-r-10 {
    margin-right: 10px;
  }
  .row-margin {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .pieceworkincome-title-basicdowload {
    line-height: 40px;
    float: right;
  }

  .ant-form-item {
    display: inline-block;
  }
  .ant-tabs-tab {
    font-weight: 600;
  }
 }