/*
 * @description: 项目-计件凭证维护列表样式
 * @author: qiuyang
 * @lastEditors: qiuyang
 * @Date: 2019-09-23 15:57:37
 * @LastEditTime: 2019-12-11 09:41:30
 * @Copyright: Copyright  2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
#pieceoverviewlist{
  padding: 20px 20px 20px 20px;
  .pieceoverviewlist-project-text {
    margin: 0 0 10px 4px
    span {
      color: rgba(0, 0, 0, 0.85)
      font-size: 12px
    }
  }
  .contract-com-margin-r {
    margin-right: 20px
  }
  .contract-com-margin-r-10 {
    margin-right: 10px;
  }
  .contract-page-button{
    margin 10px 10px 23px 0
  }
  .contract-search-button{
    height 32px
    padding  0 25px
    border-radius 5px
  }
  .ant-form-item {
    display: inline-block;
  }
}