/*
 * @description: 
 * @author: qiuyang
 * @lastEditors: qiuyang
 * @Date: 2019-09-24 14:33:47
 * @LastEditTime: 2019-10-29 11:35:59
 * @Copyright: Copyright  2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
#pieceoverviewInfo {
  padding: 40px 40px 40px 40px;
  .pieceoverviewInfo-title-icon {
    margin-bottom: 25px;
    .pieceoverviewInfo-title-text {
      color: #333333;
      font-size: 16px;
      font-weight: 600;
    }
  }
  .pieceoverviewInfo-input {
    margin-bottom: 20px;
  }
  .pieceoverviewInfo-top-info {
    margin-left: -30px;
  }
  .ant-form-item-label > label {
    color: #333333;
    font-size: 14px;
  }
  .text-color {
    color: #666666;
    font-size: 14px;
  }
  .ant-form-item-control {
    line-height: 39px; /*no*/
  }
  .contract-page-button {
    margin: 20px 25px 20px 0;
    color: #fff;
    line-height: 20px;
    margin-right: 30px;
    border-radius: 5px;
    width: 160px;
    height: 38px;
    font-size: 14px;
    font-weight: 500;
  }
  .cancel-btn {
    border-radius: 5px;
    width: 160px;
    height: 38px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(64,169,255,1);
    border: 1px solid rgba(64,169,255,1);/*no*/
  }
}