/*
 * @description: 
 * @author: yanzihao
 * @lastEditors: yanzihao
 * @Date: 2019-09-23 13:51:30
 * @LastEditTime: 2019-12-11 09:38:44
 * @Copyright: Copyright  2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */

.salaryparametersetting {
  .ant-tabs-bar {
    margin: 20px;
  }
  .ant-tabs-tab {
    font-weight:600;
    font-size:12px; /*no*/
  }
}