/*
 * @description:
 * @author: yanzihao
 * @lastEditors: yanzihao
 * @Date: 2019-10-28 19:13:32
 * @LastEditTime: 2019-11-21 14:23:14
 * @Copyright: Copyright  2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */

@import '~@assets/style/mixins'
.publicsearchselect {
  display: inline-block;
  .iconsize {
    img {
      width: 16px !important
      height 16px !important
    }
  }
}