/**
 * @author minjie
 * @createTime 2019/04/26
 * @description 主页
 * @copyright Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */

.home-info {
  width:100%;
  height: 854px;
  overflow hidden
  position relative
  // text-align center
  // display flex
  // justify-content: center;
  // align-items: center;
  background-color:rgba(247,252,255,1);
  .home-img {
    display:inline;
    position absolute
    width 852px;
    height 507px;
  }
  .home-img-right-top {
    position absolute
    top 22px
    right 40px
    width 283px
    height 81px
  }
  .home-img-center {
    position absolute
    top 53px
    left 50%
    transform: translate(-50%, 0);
    width 516px
    height 530px
  }
  .home-img-bottom {
    position absolute
    bottom 0px
    width 100%
    height 189px
  }
}
