/*
 * @description: 薪酬核算-税后主页面-样式
 * @author: maqian
 * @github: git@code.aliyun.com:WOHAOYUN/thematrix.git
 * @lastEditors: maqian
 * @Date: 2019-09-23 09:54:25
 * @LastEditTime: 2019-09-23 10:12:23
 * @Copyright: Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
.after-form-boxs
  margin-bottom 15px
  .btn-style
    height 32px/*no*/
    padding  0 25px
    margin-left 10px
    background rgba(64,169,255,1)
    border-radius 5px
  .tip-right
    position relative
    height 30px
    line-height 20px
    margin-top 10px
    font-size 14px
    font-weight 400
    color rgba(244,168,0,1)
    background rgba(255,251,230,1)
    border 1px solid rgba(255,229,143,1);/*no*/
    padding 0.025rem 0.02rem 0.03rem 0.19rem
    .tips-icon
      position absolute
      left 13px
      top 13px