.add_new_staff_modal-wrapper
  &.ant-modal
    top 100px
  .ant-modal-body
    padding 20px
  .add_new_staff-wrapper
    display flex
    align-items center
    justify-content space-between
    padding-bottom 20px
  .ant-form
    .ant-form-item
      width 180px
      margin-right 20px
      height 32px
      &:first-child
        margin-right 10px
        width 120px
      &:last-child
        width 80px
        margin-right 0px
      .ant-form-item-control
        line-height 32px
      .ant-select-dropdown
        text-align left
  .ant-table-body
    .ant-table-tbody
      tr
        > td
          padding 12px 8px !important;/*no*/
    .ant-table-thead
      tr
        > th
          padding 15px 8px !important;/*no*/
  .table_button_wrapper
    padding-top 0
    padding-bottom 0
  .confirm_button,
  .cancel_button
    width 160px
    height 38px
    line-height 38px
    font-size 14px
  .cancel_button
    color #40A9FF
    margin-left 30px
    border 1px solid rgba(64, 169, 255, 1);/*no*/